# Imports

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_columns', 25)

In [4]:
import sys
# sys.path.append(r'D:\Usuarios\Kitty\Documentos\1-Master\TFM')
sys.path.append(r'D:\Programas\GitHub\TFM')

# Load Data

In [27]:
df = pd.read_csv("Credit_Card.csv").drop(columns=["Id"])

In [28]:
df

,CreditLimit,Gender,EducationLevel,Marriage,Age,RepaymentStatusSep,RepaymentStatusAug,RepaymentStatusJul,RepaymentStatusJun,RepaymentStatusMay,RepaymentStatusApr,BillAmountSep,BillAmountAug,BillAmountJul,BillAmountJun,BillAmountMay,BillAmountApr,PreviousPaymentSep,PreviousPaymentAug,PreviousPaymentJul,PreviousPaymentJun,PreviousPaymentMay,PreviousPaymentApr,Default
0,20000.0,Female,University,Married,24,Delay 2 Months,Delay 2 Months,Paid Duly,Paid Duly,NaN,NaN,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000.0,Female,University,Single,26,Paid Duly,Delay 2 Months,No Consumption,No Consumption,No Consumption,Delay 2 Months,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,90000.0,Female,University,Single,34,No Consumption,No Consumption,No Consumption,No Consumption,No Consumption,No Consumption,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000.0,Female,University,Married,37,No Consumption,No Consumption,No Consumption,No Consumption,No Consumption,No Consumption,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,50000.0,Male,University,Married,57,Paid Duly,No Consumption,Paid Duly,No Consumption,No Consumption,No Consumption,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,Male,High School,Married,39,No Consumption,No Consumption,No Consumption,No Consumption,No Consumption,No Consumption,188948.0,192815.0,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,150000.0,Male,High School,Single,43,Paid Duly,Paid Duly,Paid Duly,Paid Duly,No Consumption,No Consumption,1683.0,1828.0,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,30000.0,Male,University,Single,37,Delay 4 Months,Delay 3 Months,Delay 2 Months,Paid Duly,No Consumption,No Consumption,3565.0,3356.0,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,80000.0,Male,High School,Married,41,Delay 1 Month,Paid Duly,No Consumption,No Consumption,No Consumption,Paid Duly,-1645.0,78379.0,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,50000.0,Male,University,Married,46,No Consumption,No Consumption,No Consumption,No Consumption,No Consumption,No Consumption,47929.0,48905.0,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

# Parameters

In [29]:
target = "Default"

# Outliers

In [55]:
from Outliers import OutliersDetection

In [56]:
outliers = OutliersDetection(
    method="LOF",
    k=1.5
)

In [57]:
outliers.run(df)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\kitt_.DESKTOP-FP2KS5Q.000\.conda\envs\unir\Lib\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\kitt_.DESKTOP-FP2KS5Q.000\AppData\Local\Temp\ipykernel_18348\2020638172.py", line 1, in <module>
    outliers.run(df)
  File "D:\Programas\GitHub\TFM\Outliers.py", line 79, in run
    self._detect_outliers(data)
  File "D:\Programas\GitHub\TFM\Outliers.py", line 100, in _detect_outliers
    self._detect_outliers_estimator()
  File "D:\Programas\GitHub\TFM\Outliers.py", line 158, in _detect_outliers_estimator
    if self.estimator is None:
       ^^^^^^^^^^^^^^
AttributeError: 'OutliersDetection' object has no attribute 'estimator'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\kitt_.DESKTOP-FP2KS5Q.000\.conda\envs\unir\Lib\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\kitt_.DESKTOP-FP2KS5Q.000\.conda\envs\unir\Lib\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\kitt_.DESKTOP-FP2KS5Q.000\.conda\envs\unir\Lib\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\kitt_.DESKTOP-FP2KS5Q.000\.conda\envs\unir\Lib\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\kitt_.DESKTOP-FP2KS5Q.000\.conda\envs\unir\Lib\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\kitt_.DESKTOP-FP2KS5Q.000\.conda\envs\unir\Lib\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "C:\Users\kitt_.DESKTOP-FP2KS5Q.000\.conda\envs\unir\Lib\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "C:\Users\kitt_.DESKTOP-FP2KS5Q.000\.conda\envs\unir\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\kitt_.DESKTOP-FP2KS5Q.000\.conda\envs\unir\Lib\site-packages\stack_data\core.py", line 698, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\kitt_.DESKTOP-FP2KS5Q.000\.conda\envs\unir\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\kitt_.DESKTOP-FP2KS5Q.000\.conda\envs\unir\Lib\site-packages\stack_data\core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
                             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\kitt_.DESKTOP-FP2KS5Q.000\.conda\envs\unir\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\kitt_.DESKTOP-FP2KS5Q.000\.conda\envs\unir\Lib\site-packages\stack_data\core.py", line 628, in executing_piece
    return only(
           ^^^^^
  File "C:\Users\kitt_.DESKTOP-FP2KS5Q.000\.conda\envs\unir\Lib\site-packages\executing\executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [54]:
outliers.get_results()

                    n_outliers  p_outliers
CreditLimit               88.0    0.293333
Age                       41.0    0.136667
BillAmountSep           1500.0    5.000000
BillAmountAug           1500.0    5.000000
BillAmountJul           1500.0    5.000000
BillAmountJun           1500.0    5.000000
BillAmountMay           1499.0    4.996667
BillAmountApr           1500.0    5.000000
PreviousPaymentSep      1500.0    5.000000
PreviousPaymentAug      1499.0    4.996667
PreviousPaymentJul      1500.0    5.000000
PreviousPaymentJun      1500.0    5.000000
PreviousPaymentMay      1498.0    4.993333
PreviousPaymentApr      1497.0    4.990000